body{
    font-family: 'Diplomata';
    background-image: url(https://img.freepik.com/vector-gratis/fondo-flores-acuarela-colores-pastel_52683-33363.jpg?w=2000);
    background-size: cover;
    
}
